* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 100%;
}

.fault-form {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fault-form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.fault-form__input {
    padding: 5px;
}

.fault-form__select {
    padding: 5px;
}

.fault-form__group--search {
    position: relative;
}

.fault-form__search-results {
    position: absolute;
    top: 55px;
}

.fault-form__result {
    padding: 5px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.fault-form__result:hover {
    background: lightgray;
}

.fault-form__student {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.fault-form__submit {
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    background: green;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.fault-form__submit:hover {
    background: rgb(77, 182, 77);
}