* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter-form__input {
    padding: 5px;
}

.filter-form__submit {
    padding: 5px;
    background: green;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}

.filter-form__submit:hover {
    background: rgb(27, 27, 122);
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 7px;
}

.table__btn {
    padding: 5px;
    border-radius: 10px;
    background: green;
    color: white;
}

.table__btn:hover {
    background: rgb(65, 157, 65);
}