* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    padding: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 20px;
}

.card {
    background: lightskyblue;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.1);
}